*//* En esto estoy trabajando haora */
header .logo img {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente (opcional, si quieres también centrarlo verticalmente) */
}


.logo img {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor padre, evitando que la imagen se desborde del contenedor. */
    height: auto; /* Ajusta la altura de la imagen automáticamente para mantener la proporción original de la imagen. */
    display: block; /* Cambia el comportamiento de la imagen a un elemento de bloque, eliminando el espacio en blanco debajo de la imagen. */
}


/* Es para que el titulo Arquitectura Benjamin este mas junto*/
.tight-spacing {    
    line-height: 0.2; /* Ajusta este valor según sea necesario */
    /* margin-bottom: 5px;  Ajusta este valor según sea necesario */
}



/* En esto estoy trabajando haora */
header .logo img {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente (opcional, si quieres también centrarlo verticalmente) */
}

/* En esto estoy trabajando haora */
header .logo img {
    position: absolute; /* Posiciona el logo absolutamente dentro del contenedor relativo */
    left: 50%; /* Mueve el logo al 50% del ancho del contenedor */
    transform: translateX(-50%); /* Centra el logo horizontalmente */
    display: block;
}

header .logo {
    position: relative; /* Establece el contenedor como relativo para que los elementos hijos puedan posicionarse absolutamente dentro de él */
    display: flex;
    justify-content: flex-end; /* Alinea el texto a la derecha */
    align-items: center; /* Centra verticalmente */
}









/* Bara superior titolo de la pagina*/ 
/* ?!! Esot tendria que ser un natvar o algo mejor actuamente es un dir */
.top-bar{
    display: flex; /* Establece el contenedor como un contenedor flex, permitiendo el uso de Flexbox para alinear y distribuir el contenido */
    
    width: 100%; /* Establece el ancho del elemento al 100% del contenedor padre */
    height: 100px; /* Ajusta la altura según sea necesario */
    background-color: var(--secondary-color);  /* Color de la barra */

    /* */
    position: absolute; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000px; /* Asegura que la barra esté por encima de otros elementos */
    font-size: clamp(1rem, 3vw, 20px); /* Tamaño de fuente mínimo de 1rem, preferido de 3vw, y máximo de 20px */
    
    justify-content: center; /* Centrar el texto horizontalmente */
    align-items: center; /* Centrar el texto verticalmente */
    color: var(--accent-color);
}




/* --- Codigo para intentar poner el color texto de nav en blanco */
