/* Definición de variables de color para uso en todo el documento */
:root {
    --primary-color: #070F0F; /* Color primario: negro */
    --secondary-color: #101420; /* Color secundario: blanco */
    --accent-color: #ffffff; /* Color de acento: gris claro */
    --font1: sans-sherif;  
    --font2: Arial;/* Ibarra-Real-Nova; */

}

/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Fuente de letra sans-serif */
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin relleno */
    color: var(--secondary-color); /* Color del texto: color primario (negro) */
}


/* Estilos para la cabecera (header) del sitio  La parte superior de la pagina donde esta la imagen y el logo*/
header {
    background-color: var(--secondary-color); /* Fondo blanco */
    padding-top: 2vw; /* ↑ Borde superior interior  */
    padding-right: 0px; /* → Borde derecho interior */ 
    padding-bottom: 0px; /* ↓ Borde inferior interior */
    padding-left: 2vw; /* ← Borde izquierdo interior de */
    /* !!? Talves aca usar un display:grid https://www.youtube.com/shorts/9LdiQ8iX6WQ */
    display: flex; /* Establece el contenedor como un contenedor flex, lo que permite el uso de las propiedades de Flexbox para alinear y distribuir el contenido dentro del contenedor. */
    flex-direction: row; /* Define la dirección del eje principal como horizontal (de izquierda a derecha). */
    justify-content: space-between; /* Distribuye los elementos hijos del contenedor flex con el máximo espacio posible entre ellos. */
    align-items: auto; /* Alinea los elementos hijos del contenedor flex según su valor de alineación automática en el eje transversal (verticalmente). */
    
    font-family: var(--font2); /* Establece la fuente de los textos dentro del contenedor. Usa la variable para la fuente */
    font-size: 3vw; /* Define el tamaño de la fuente de los textos dentro del contenedor. */
    margin-top: 100px; /* Añade un margen superior de 100 píxeles al contenedor. */
    color: var(--accent-color); /* Establece el color del texto utilizando la variable CSS --accent-color. */
}


/* div de divicion par titulo del header y logo */
header .logo {
    position: relative; /* Establece el contenedor como relativo para que los elementos hijos puedan posicionarse absolutamente dentro de él */
    display: block; /* Cambia el comportamiento de la imagen a un elemento de bloque, eliminando el espacio en blanco debajo de la imagen. */
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor padre, evitando que la imagen se desborde del contenedor. */
    height: auto; /* Ajusta la altura de ala imagen automáticamente para mantener la proporción original de la imagen. */
    
    /* ?!! esto esta interesante por lo que entendi me permiete aliniear elmentos uno ensima del otro y sentrar el log */
    /* https://www.youtube.com/watch?v=1Nv4HnZq6Lg&t=310s*/
    /* https://www.youtube.com/shorts/w3ndzpkxxP0 */
   
}

header .logo h2 {
    margin: 0; /* Elimina el margen para que los elementos estén más juntos */
}

header .logo img {
    margin-top: 10px; /* Añade un margen superior para separar el logo del texto */
}

/* Codigo a probar ------------------------*/


/* Navigation styling */
nav {
    background-color: var(--secondary-color); /* Using your primary color variable */
    padding: 15px 0;
    position: fixed; /* Makes the nav stay at top when scrolling */
    width: 100%;
    top: 0;
    z-index: 1; /* Ensures nav appears above other content */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the menu items */

}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--accent-color); /* This is your white color variable */
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    opacity: 0.8;
}
/* ----------------------------------------*/

/* Div contenedora de la Imagen del header de la pagian la primera imagen que aparece en la pagianmagen del header de la pagian la primera imagen que aparece en la pagian */
.header-img {
    /*Documentacion properti flex: https://developer.mozilla.org/es/docs/Web/CSS/flex */
    display: flex; /* Establece el contenedor como un contenedor flex, lo que permite el uso de las propiedades de Flexbox para alinear y distribuir el contenido dentro del contenedor. */
    justify-content: flex-end; /* Alinea los elementos hijos del contenedor flex al final del eje principal (horizontalmente, en la mayoría de los casos). */
    align-items: center; /* Alinea los elementos hijos del contenedor flex en el centro del eje transversal (verticalmente, en la mayoría de los casos). */
    flex-grow: 1; /* Permite que el contenedor crezca para llenar el espacio disponible en el contenedor padre. */
}


/* Imagen del header de la pagian la primera imagen que aparece en la pagianmagen del header de la pagian la primera imagen que aparece en la pagian */
.header-img img {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    display: block;
}


/* Asegúrate de que el texto dentro del header esté alineado correctamente */
header .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-right: 35%;
    color: var(--accent-color);
    text-align: center;
}

/* Estilos para la lista de navegación */
nav ul {
    list-style: none; /* Sin viñetas */
    margin: 0; /* Sin márgenes */
    padding: 0; /* Sin relleno */
    display: flex; /* Uso de flexbox */
}

/* Estilos para cada elemento de la lista de navegación */
nav ul li {
    margin-left: 20px; /* Margen izquierdo de 20 píxeles */
}

/* Estilos para los enlaces dentro de la lista de navegación */
nav ul li a {
    text-decoration: none; /* Sin subrayado */
    color: var(--primary-color); /* Color del texto: color primario (negro) */
}

/* Estilos para la sección principal (hero) */
.hero {
    background-size: cover; /* La imagen cubre todo el espacio disponible */
    background-position: center; /* Centrar la imagen de fondo */
    height: 620px; /* Altura de la sección: 500 píxeles */
    display: flex; /* Uso de flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    background-color: var(--primary-color);
    margin-top: 100px;
    margin-right: 120px;
}
.hero img{
    height: 550px;
    width: 580;
    margin-top: 60px;
}

/* Estilos para el contenido dentro de la sección hero */
.hero-content {
    text-align: center;
    color: var(--accent-color); /* Color del texto: color secundario (blanco) */
}

/* Estilos para el título principal dentro de la sección hero */
.hero-content h1 {
    text-align: center;
    font-size: 46px; /* Tamaño de la fuente: 3 veces el tamaño normal */
    margin-bottom: 120px; /* Margen inferior de 20 píxeles */
}
.hero-content p{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
/* Estilos para las secciones de "Sobre nosotros", "Proyectos", "Por qué nosotros", "Blog" y "Clientes" */
.about, .projects, .why-us, .blog, .clients {
    padding: 50px; /* Relleno de 50 píxeles */
    text-align: left; /* Texto centrado */
}

.projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.projects ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 30px;
    color: #555;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.image-container {
    width: 60%; /* Aumentado a 60% */
    position: relative;
}

.casas {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.casas img.casa1 {
    width: 80%;
    position: absolute;
    bottom: 10;
    left: 130px;
}

.casas img.casa2 {
    width: 60%;
    position: absolute;
    bottom: 20px;
    left: -5px;
}

.image-container img {
    height: auto;
    display: block;
    border-radius: 5px;
}

.right-section {
    width: 35%; /* Reducido a 35% */
    padding-left: 20px;
    text-align: left;
}

.content {
    max-width: 500px;
}

.right-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.right-section p {
    font-size: 24gpx;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #555;
}

.view-case {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

.about text{
    font-size: 32px;
    font-family: var(--font1);
    color: var(--primary-color);
    padding: auto;;
}

/* Estilos para las imágenes dentro de los proyectos */

.project img{
    max-width: 100%; /* Ancho máximo del 100% del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-us {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 400px;
    margin-left: 120px;
}

.why-us h2 {
    font-size: 2.5em;
    position: relative;
    bottom: 100px;
}

.why-us-text {
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 1100px;
    height: 367px;
    text-align: left;
    position: absolute;
    top: 200px;
    bottom: auto;
    left: auto;
    right: 150px;
}

.why-us-content {
    background-color: #bebebe;
    padding: 30px;
    max-width: 400px;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    top: 300px;
    left: 100px;
    transform: translateX(-35%);
}

.why-us-content p {
    line-height: 1.6;
    color: #000000;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 200px;
    top: 375px;
    left: 1100px;
    width: 300px;
    z-index: 1;
}

.icon {
    position: relative;
    margin: 0 20px;
    padding: 50px;
    padding-bottom: 20px;
}

.icon img {
    display: block;
    margin: 0 auto;
}

.icon img.icon-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.icon p {
    margin-top: 10px;
    color: #333;
    font-size: 16px;
}

/* Nuevos estilos */

.icons-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 300px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.icon img {
    width: 60px;
    height: 60px;
}

.icon img.icon-background {
    width: 170px;
    height: 170px;
}
/* Estilos para el contenedor de publicaciones del blog */
.blog {
    background-color: var(--secondary-color); /* Color de fondo */
    padding: 40px;
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

.blog h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--accent-color);
}

.blog-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(190px);
    gap: 100px; /* Espacio entre las imágenes */
    
}

.blog-post {
    width: 370px; /* Ancho de las imágenes */
    height: 480px;
    text-align: center;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px;
}

.blog-post p {
    border-radius: 10px;
    background-color: var(--secondary-color);
    text-align: center;
    position:relative;
    left: 10px;
    bottom: 25px;
    transform: translateY(-40px);
    width: 350px;
    height: 97px;
    font-size: 1.1em;
    color: var(--accent-color);
    z-index: 1;
}

/* Estilos para el pie de página (footer) */

footer {
    background-color: var(--secondary-color); /* Fondo: color de la imagen de referencia */
    padding: 20px; /* Relleno */
    display: flex; /* Usamos flexbox para alinear los elementos */
    justify-content: space-around; /* Espacio entre los elementos */
    align-items: center; /* Centramos verticalmente */
    color: var(--accent-color); /* Color del texto */
    margin-top: 300px;
}

footer .logo img {
    width: 135px;
    height: 135px; /* Altura del logo */
    border-radius: 50%; /* Hace el logo circular */
    position: relative;
    left: -100px;
}

footer .contact {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos */
    position: relative;
    left: -90px;
}

footer .contact-items {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centramos verticalmente los iconos */
    gap: 100px; /* Espacio entre el icono y el texto */
}

footer .contact img {
    height: 25px; /* Altura de los iconos */
}


/* Codigo Ari agregar color para direrenciar div imagenes*/

.project {
    background-color: #ffcc00; /* Color de fondo amarillo */
}

