header {
    background-color: var(--secondary-color); /* Color de fondo oscuro */
    color: #fff; /* Color de texto blanco */
    display: flex; /* Lo mantenemos para la disposición interna */
    align-items: center;
    padding-left: 50px;
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}